spring:
  application:
    name: shopping-microservice
  datasource:
    url: jdbc:h2:mem:cart
    username: sa
    password: password
    driverClassName: org.h2.Driver
  jpa:
    spring.jpa.database-platform: org.hibernate.dialect.H2Dialect
    defer-datasource-initialization: true
    show-sql: true
  h2:
    console.enabled: true
    console.path: /h2-console
    console.settings.trace: false 
    spring.h2.console.settings.web-allow-others: false  
    
    
management:
  endpoints:
    web:
      exposure:
        include:
        - '*'
shopping-microservice:
  greeting: "Dev"
  default-value: "World"